<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration Form</title>
</head>
<body>
    <h2>User Registration Form</h2>
    <form method="post" action="/">
        <label>Name:</label>
        <input type="text" name="name"><br><br>

        <label>Age:</label>
        <input type="number" name="age"><br><br>

        <label>Gender:</label>
        <input type="radio" name="gender" id="male" value="male">
        <span>Male</span>
        <input type="radio" name="gender" id="female" value="female">
        <span>Female</span><br><br>

        <label>Country:</label>
        <input type="text" name="country"><br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
